/* ****************************************
        -----------------------------      
                STYLE COMMON
        -----------------------------
***************************************** */

/* ------------------------------
          LAYOUT
------------------------------- */
.container {padding: 0 30px;}

.col {width: 100%; border-radius: 25px;}

.content {padding: 25px;}

        /*  FINE  */

/* **************************** */
    /* ---   SECTIONS   --- */
/* **************************** */

/* ------------------------------
            BODY
------------------------------ */


        /* FINE  */


/* ------------------------------
          HEADER
------------------------------ */

        /* FINE  */

/* ------------------------------
           MAIN
------------------------------- */






        /* FINE  */

/* ------------------------------
          FOOTER
------------------------------- */

        /* FINE  */


       

/* ------------------------------
         *** FINE ***
------------------------------- */


